@using datezite.Models
@model datezite.Models.SearchResults

@{
    ViewBag.Title = "SearchView";
    Layout = "~/Views/Shared/_SignedInLayout.cshtml";
}

<h2>Resultat</h2>
<table class="table table-hover">
    <thead>
        @foreach (var userHit in Model.Results)
        {
            var hitId = userHit.Id;
        <tr>
            <th scope="col"><a href="/Profiles/OtherProfile/@hitId">@userHit.Förnamn</a>  </th>
            <th scope="col"><a href="/Profiles/OtherProfile/@hitId">@userHit.Efternamn</a></th>
            <th scope="col"><a href="/Profiles/OtherProfile/@hitId">@userHit.UserName</a></th>
        </tr>
        }
    </thead>
</table>
